<div class="main-text">
    Coup
</div>

<div class="button-container-index">
    <form action="/login" method="GET">
        <button class="button-index" type="submit">Log in</button>
    </form>
    <form action="/register" method="GET">
        <button class="button-index" type="submit">Sign up</button>
    </form>
    <form action="/tables" method="GET">
        <button class="button-index" type="submit">Guest</button>
    </form>
</div>