<div class="container-login">
    <div class="main-text">
        Table #<%=tableId%>
    </div>
    <form action="/tables" method="POST">
        <button class="button-login" type="submit">Tables</button>
    </form>

    <button class="button-login" id = "redirect" type="submit">Start game</button>

</div>
<div>
    <script>
        var username = "<%=username%>";
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/script2.js"></script>
    <script>
        var table_id = "<%=tableId%>";
        socket.on('redirect', function(data) {
            // console.log("XDSDAGDSAGHASHYADSH");
            window.location.href = `Coup/${table_id}`;
        });
        var button = document.getElementById("redirect");
        button.onclick = () => {
            // window.location.href = `Coup/${table_id}`;
            socket.emit('redirect',{table_id});
        };
    </script>
</div>