<div class="container-login">
    <div class="main-text">
        Table #<%=tableId%>
    </div>
    <form action="/tables" method="POST">
        <button class="button-login" type="submit">Tables</button>
    </form>
</div>
<div>
    <script>
        var username = "<%=username%>";
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/script2.js"></script>
</div>